flask-restx==1.3.0
Flask-SQLAlchemy==2.5.0
flask-cors==6.0.2
Flask-Login==0.6.3
Flask-Migrate==4.1.0
Flask-Script==2.0.6
pymysql==0.9.3
mysql-connector-python==9.6.0
psutil==5.9.1
msgpack==1.0.4
PyJWT==2.12.1
Werkzeug==2.0.3
Flask==2.0.2
sqlalchemy==1.4.46