flask-restx==1.3.0
Flask-SQLAlchemy==2.5.0
flask-cors==6.0.2
flask-login==0.6.3
flask-migrate==4.1.0
flask_script==2.0.6
pymysql==0.9.3
mysql-connector-python==9.6.0
psutil==5.9.1
msgpack==1.0.4
pyjwt==2.12.1
Werkzeug==2.0.3
Flask==2.0.2
sqlalchemy==1.4.46